h1 {font-family : georgia font-color}
body {background-color : #7adff}

.nav li {display: inline-block; font-size: 20px; padding: 5px 20px 5px 20px; box-sizing:border-box; border: 1px solid #fff; color: #000}

.nav li:hover {border: 1px solid #333; color: #fff; background-color: #005f91}

.nav li a {text-decoration: none; color: inherit}
